# Compiled class file
*.class

# Visual studio user files.
*.user
*.dbmdl
*.database
/**/**/.vs
/**/**/obj

# Log file
*.log

# Target and bin folders.
/**/**/target
/**/**/bin

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.metadata/
/.recommenders/
